<h1>home</h1>
<p>Aujourd'hui nous sommes <%= Time.now %>, l'association des Producteurs d'Occitanie comporte <%= User.all.size %> Membres<p>
  <%= link_to "Contactez-nous", contact_path  %>
  <%= link_to "Association", about_path  %>

  <!-- Log in -->

