.section-login {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  margin: 5em;
  padding: 3em;
}

.section-signup {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  margin: 5em;
  padding: 3em;
}
